name: Jest CI

on:
  pull_request:
    branches:
      - main
      - master
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: ./mbs

      - name: Run tests
        run: npm test -- --json --outputFile=results.json
        working-directory: ./mbs

      - name: Comment test results
        run: |
          result=$(cat ./mbs/results.json)
          totalTests=$(echo $result | jq '.numTotalTests')
          passedTests=$(echo $result | jq '.numPassedTests')
          failedTests=$(echo $result | jq '.numFailedTests')
          timestamp=$(date +"%Y-%m-%d %H:%M:%S %Z")

          comment=$(cat <<EOF
          ## Jest Test Results
          **Total Tests:** $totalTests
          **Passed Tests:** $passedTests
          **Failed Tests:** $failedTests
          **Timestamp (JST):** $timestamp
          EOF
          )

          curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" -H "Content-Type: application/json" \
            -d "{\"body\": \"$comment\"}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/comments"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


