name: Notify Teams on Issue Comment

on:
  issue_comment:
    types: [created]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Send notification to Teams
      run: |
        curl -H 'Content-Type: application/json' -d '{
          "type": "message",
          "attachments": [
            {
              "contentType": "application/vnd.microsoft.card.adaptive",
              "content": {
                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                "type": "AdaptiveCard",
                "version": "1.2",
                "body": [
                  {
                    "type": "TextBlock",
                    "text": "New comment on issue",
                    "weight": "Bolder",
                    "size": "Medium"
                  },
                  {
                    "type": "TextBlock",
                    "text": "Issue: #${{ github.event.issue.number }} - ${{ github.event.issue.title }}",
                    "wrap": true
                  },
                  {
                    "type": "TextBlock",
                    "text": "Comment by: ${{ github.actor }}",
                    "wrap": true
                  },
                  {
                    "type": "TextBlock",
                    "text": "Mentioned assignees: ${{  github.event.issue.assignees.login }}",
                    "wrap": true
                  },
                  {
                    "type": "TextBlock",
                    "text": "[View Comment](${{ github.event.comment.html_url }})",
                    "wrap": true
                  }
                ]
              }
            }
          ]
        }' ${{ secrets.TEAMS_WEBHOOK_URL }}